body {
    background-color:black;
    overflow-x: hidden;
    padding-left:10%;
}
h1{
    color: red;
    text-align: center;
    margin-right: 200px;
}

p{
    font-size: 25px;
    color: wheat;
    margin-left: 20px;
}

legend{
    color: brown;
}

fieldset{
    padding: 5px;
    margin-right: 9%;
    margin-top: 5px;
    font-size: 25px;
}

audio{
    padding: 20px;
    align-content: center;
}

.botones{
    position: right;
    color: brown;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 35%;
    font-size: 20px;
}

.botones1{
    position: left;
    color: brown;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
    font-size: 20px;
}

.botones2{
    position: center;
    color: brown;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 35%;
    font-size: 20px;
}

.imagen{
    width: 91%;
    height: 420px;
    padding-bottom: 65px;
}

.cmedio{
    text-align: center;
}


/**********************css del index*************************/

.body {
    height: auto;
    display: auto;
    align-items: center;
    justify-content: center;
    background-image: url(../img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcome{
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding:1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}


.formulario {
    width: 400px;
    height: 100%;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 3rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: 80px;
}

.border-icon {
    height: 60px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 3rem;
    transition: all .3s ease-in;
    margin: 3px;
}

.border-icon:hover {
    background-color: blue;
    cursor: pointer;
}


.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: auto;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.datos{
    margin: 40px;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}


.butonx{
    margin: 50px;
    cursor: pointer;
    color: black;
}

.p_index {
    color: black;
    font-size: 25px;
    margin-left: 20px;
}

.of{
   width: 100px;
   height: 130px;
}

.colorn{
    color: black;
}